.logo-box
  display: inline-block
  border-radius: 2px
  line-height: 1
  a
    display: inline-block
    font-size: 32px
    font-family: $header-font
    margin-bottom: 5px
    color: white
    .svg-icon
      width: 34px
      height: 34px
      vertical-align: top
    &:hover,
    &:active,
    &:focus
      text-decoration: none
  .slogan
    display: block
    font-size: 12px
    font-weight: $weight-400
    &::before
      content: "\2022"
      display: none
      margin-right: 20px
      @media #{$medium-up}
        display: inline-block
    @media #{$medium-up}
      display: inline-block
      font-size: 18px
      margin-left: 20px
